In [13]:
# --- Path plumbing (point to src) + autoreload ---
from pathlib import Path
import sys

%load_ext autoreload
%autoreload 2

NB   = Path.cwd()
ROOT = NB.parent
SRC  = ROOT / "src"
if str(SRC) not in sys.path:
    sys.path.append(str(SRC))

from data_pipeline.config import ROOT as ROOT_CFG, PROCESSED_DIR, ALIGNED, CLEANED, ALIGNED_SPX, ALIGNED_SPY
print("CWD:", NB)
print("SRC:", SRC)
print("ROOT:", ROOT_CFG)
print("PROC:", PROCESSED_DIR)
print("ALIGNED:", ALIGNED)
print("CLEANED:", CLEANED)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
CWD: /Users/ya/Desktop/deep-hedging-rl/notebooks
SRC: /Users/ya/Desktop/deep-hedging-rl/src
ROOT: /Users/ya/Desktop/deep-hedging-rl
PROC: /Users/ya/Desktop/deep-hedging-rl/data/processed
ALIGNED: /Users/ya/Desktop/deep-hedging-rl/data/processed/aligned
CLEANED: /Users/ya/Desktop/deep-hedging-rl/data/processed/cleaned

In [14]:
import pandas as pd

panel_fp_spx = ALIGNED_SPX / "combined_spx_all.parquet"
panel_spx = pd.read_parquet(panel_fp_spx)

panel_spx = panel_spx.sort_index()
display(panel_spx.head(3), panel_spx.tail(3))
print("shape:", panel_spx.shape)

,date,underlying,put_call,expiry,strike,mid,last,iv,delta,gamma,...,hvol_547d,hvol_730d,hvol_1825d,fwd_front,high_gspc,low_gspc,open_gspc,rv_21d,tenor_d,moneyness
0,1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,...,0.086681,0.091218,0.101685,608.334956,608.27002,604.119995,606.369995,0.105058,730,45
1,1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,...,0.086681,0.091218,0.101685,610.986181,608.27002,604.119995,606.369995,0.105058,730,45
2,1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,...,0.086681,0.091218,0.101685,611.912862,608.27002,604.119995,606.369995,0.105058,730,45

,date,underlying,put_call,expiry,strike,mid,last,iv,delta,gamma,...,hvol_547d,hvol_730d,hvol_1825d,fwd_front,high_gspc,low_gspc,open_gspc,rv_21d,tenor_d,moneyness
9176,2023-08-24,SPX,P,2024-02-22,4483.495203,191.266912,191.266912,0.155755,-0.476435,0.000825,...,0.207797,0.196254,0.218594,4887.346673,4458.299805,4375.549805,4455.160156,0.113792,547,-90
9177,2023-08-24,SPX,P,2024-02-22,4483.495203,191.266912,191.266912,0.155755,-0.476435,0.000825,...,0.207797,0.196254,0.218594,4980.425328,4458.299805,4375.549805,4455.160156,0.113792,547,-90
9178,2023-08-24,SPX,P,2024-02-22,4483.495203,191.266912,191.266912,0.155755,-0.476435,0.000825,...,0.207797,0.196254,0.218594,5143.208481,4458.299805,4375.549805,4455.160156,0.113792,547,-90

shape: (9179, 37)

In [15]:
panel_spx.columns

Index(['date', 'underlying', 'put_call', 'expiry', 'strike', 'mid', 'last',
       'iv', 'delta', 'gamma', 'vega', 'theta', 'open_interest', 'volume',
       'close_gspc', 'vix', 'rate_10y', 'hvol_10d', 'hvol_14d', 'hvol_30d',
       'hvol_60d', 'hvol_91d', 'hvol_122d', 'hvol_152d', 'hvol_182d',
       'hvol_273d', 'hvol_365d', 'hvol_547d', 'hvol_730d', 'hvol_1825d',
       'fwd_front', 'high_gspc', 'low_gspc', 'open_gspc', 'rv_21d', 'tenor_d',
       'moneyness'],
      dtype='object')

In [16]:
import pandas as pd

panel_fp_spy = ALIGNED_SPY / "combined_spy_all.parquet"
panel_spy = pd.read_parquet(panel_fp_spy)

panel_spy = panel_spy.sort_index()
display(panel_spy.head(3), panel_spy.tail(3))
print("shape:", panel_spy.shape)

,date,underlying,put_call,expiry,strike,mid,last,iv,delta,gamma,...,hvol_547d,hvol_730d,hvol_1825d,fwd_front,high_spy,low_spy,open_spy,rv_21d,tenor_d,moneyness
0,2005-02-16,SPY,P,2005-07-18,121.673389,3.406006,3.406006,0.107125,-0.497253,0.049431,...,0.109941,0.132079,0.201846,121.235930,82.63636,82.098876,82.275771,0.108182,182,-55
1,2005-02-16,SPY,P,2005-07-18,121.673389,3.406006,3.406006,0.107125,-0.497253,0.049431,...,0.109941,0.132079,0.201846,120.955896,82.63636,82.098876,82.275771,0.108182,182,-55
2,2005-02-16,SPY,P,2005-07-18,121.673389,3.406006,3.406006,0.107125,-0.497253,0.049431,...,0.109941,0.132079,0.201846,121.219651,82.63636,82.098876,82.275771,0.108182,182,-55

,date,underlying,put_call,expiry,strike,mid,last,iv,delta,gamma,...,hvol_547d,hvol_730d,hvol_1825d,fwd_front,high_spy,low_spy,open_spy,rv_21d,tenor_d,moneyness
1017,2023-05-10,SPY,C,2023-08-09,416.194403,13.591871,13.591871,0.166025,0.5144,0.011597,...,0.218123,0.196441,0.214705,433.620390,401.18573,395.698375,400.546989,0.115732,10,80
1018,2023-05-10,SPY,C,2023-08-09,416.194403,13.591871,13.591871,0.166025,0.5144,0.011597,...,0.218123,0.196441,0.214705,434.833732,401.18573,395.698375,400.546989,0.115732,10,80
1019,2023-05-10,SPY,C,2023-08-09,416.194403,13.591871,13.591871,0.166025,0.5144,0.011597,...,0.218123,0.196441,0.214705,441.794143,401.18573,395.698375,400.546989,0.115732,10,80

shape: (1020, 37)

In [17]:
panel_spy.columns

Index(['date', 'underlying', 'put_call', 'expiry', 'strike', 'mid', 'last',
       'iv', 'delta', 'gamma', 'vega', 'theta', 'open_interest', 'volume',
       'close_spy', 'vix', 'rate_10y', 'hvol_10d', 'hvol_14d', 'hvol_30d',
       'hvol_60d', 'hvol_91d', 'hvol_122d', 'hvol_152d', 'hvol_182d',
       'hvol_273d', 'hvol_365d', 'hvol_547d', 'hvol_730d', 'hvol_1825d',
       'fwd_front', 'high_spy', 'low_spy', 'open_spy', 'rv_21d', 'tenor_d',
       'moneyness'],
      dtype='object')

In [18]:
panel_spy = panel_spy.set_index('date')
panel_spy.head(3)

panel_spx = panel_spx.set_index('date')
panel_spx.head(3)

,underlying,put_call,expiry,strike,mid,last,iv,delta,gamma,vega,...,hvol_547d,hvol_730d,hvol_1825d,fwd_front,high_gspc,low_gspc,open_gspc,rv_21d,tenor_d,moneyness
date,,,,,,,,,,,,,,,,,,,,,
1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,286.584507,...,0.086681,0.091218,0.101685,608.334956,608.27002,604.119995,606.369995,0.105058,730,45
1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,286.584507,...,0.086681,0.091218,0.101685,610.986181,608.27002,604.119995,606.369995,0.105058,730,45
1996-01-18,SPX,P,1997-07-18,634.988797,38.707598,38.707598,0.134759,-0.452206,0.003836,286.584507,...,0.086681,0.091218,0.101685,611.912862,608.27002,604.119995,606.369995,0.105058,730,45

In [20]:
# --- Sanity Checks ---
print("SPX index range:", panel_spx.index.min(), "→", panel_spx.index.max())
print("SPY index range:", panel_spy.index.min(), "→", panel_spy.index.max())
print("Overlap (shared dates):", len(panel_spx.index.intersection(panel_spy.index)))

# Check for nulls in critical columns
for df, name in [(panel_spx, "SPX"), (panel_spy, "SPY")]:
    print(f"\n{name} Null Summary:")
    print(df.isna().mean().sort_values(ascending=False).head(10))

# Optional: enforce synchronized index
common_idx = panel_spx.index.intersection(panel_spy.index)
panel_spx, panel_spy = panel_spx.loc[common_idx], panel_spy.loc[common_idx]

SPX index range: 2015-11-30 00:00:00 → 2023-05-05 00:00:00
SPY index range: 2015-11-30 00:00:00 → 2023-05-05 00:00:00
Overlap (shared dates): 3

SPX Null Summary:
underlying    0.0
put_call      0.0
hvol_91d      0.0
hvol_122d     0.0
hvol_152d     0.0
hvol_182d     0.0
hvol_273d     0.0
hvol_365d     0.0
hvol_547d     0.0
hvol_730d     0.0
dtype: float64

SPY Null Summary:
underlying    0.0
put_call      0.0
hvol_91d      0.0
hvol_122d     0.0
hvol_152d     0.0
hvol_182d     0.0
hvol_273d     0.0
hvol_365d     0.0
hvol_547d     0.0
hvol_730d     0.0
dtype: float64

In [22]:
merged = panel_spx.merge(panel_spy, on="date")
merged

,underlying_x,put_call_x,expiry_x,strike_x,mid_x,last_x,iv_x,delta_x,gamma_x,vega_x,...,hvol_547d_y,hvol_730d_y,hvol_1825d_y,fwd_front_y,high_spy,low_spy,open_spy,rv_21d_y,tenor_d_y,moneyness_y
date,,,,,,,,,,,,,,,,,,,,,
2015-11-30,SPX,P,2015-12-30,2080.872301,33.766123,33.766123,0.141918,-0.491885,0.004712,237.893901,...,0.137499,0.131321,0.152161,208.693613,177.359915,176.236046,177.241614,0.181795,152,-45
2015-11-30,SPX,P,2015-12-30,2080.872301,33.766123,33.766123,0.141918,-0.491885,0.004712,237.893901,...,0.137499,0.131321,0.152161,208.700898,177.359915,176.236046,177.241614,0.181795,152,-45
2015-11-30,SPX,P,2015-12-30,2080.872301,33.766123,33.766123,0.141918,-0.491885,0.004712,237.893901,...,0.137499,0.131321,0.152161,207.679286,177.359915,176.236046,177.241614,0.181795,152,-45
2015-11-30,SPX,P,2015-12-30,2080.872301,33.766123,33.766123,0.141918,-0.491885,0.004712,237.893901,...,0.137499,0.131321,0.152161,207.682135,177.359915,176.236046,177.241614,0.181795,152,-45
2015-11-30,SPX,P,2015-12-30,2080.872301,33.766123,33.766123,0.141918,-0.491885,0.004712,237.893901,...,0.137499,0.131321,0.152161,207.685636,177.359915,176.236046,177.241614,0.181795,152,-45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-05,SPX,P,2024-11-02,4316.857052,375.335270,375.335270,0.191978,-0.439663,0.000395,1946.115806,...,0.218096,0.196662,0.214599,427.503383,400.392132,395.475796,395.737087,0.115072,10,65
2023-05-05,SPX,P,2024-11-02,4316.857052,375.335270,375.335270,0.191978,-0.439663,0.000395,1946.115806,...,0.218096,0.196662,0.214599,433.171882,400.392132,395.475796,395.737087,0.115072,10,65
2023-05-05,SPX,P,2024-11-02,4316.857052,375.335270,375.335270,0.191978,-0.439663,0.000395,1946.115806,...,0.218096,0.196662,0.214599,433.721686,400.392132,395.475796,395.737087,0.115072,10,65
2023-05-05,SPX,P,2024-11-02,4316.857052,375.335270,375.335270,0.191978,-0.439663,0.000395,1946.115806,...,0.218096,0.196662,0.214599,435.216476,400.392132,395.475796,395.737087,0.115072,10,65
2023-05-05,SPX,P,2024-11-02,4316.857052,375.335270,375.335270,0.191978,-0.439663,0.000395,1946.115806,...,0.218096,0.196662,0.214599,441.575846,400.392132,395.475796,395.737087,0.115072,10,65

In [ ]:
from data_pipeline.io_options import load_option_panel

DATA_ROOT = "data/LFS/option_prices_parquet"  # directory with parquet files

# Load SPY options 2005–2023 (only columns needed for hvol/greeks)
spy_opt = load_option_panel(
    DATA_ROOT, ticker="SPY",
    start="2005-01-01", end="2023-12-31",
    columns=["date","underlying","put_call","expiry","strike","mid","iv","delta","gamma","vega","theta","open_interest","volume"]
)

# Load SPX options same window
spx_opt = load_option_panel(
    DATA_ROOT, ticker="SPX",
    start="2005-01-01", end="2023-12-31",
    columns=["date","underlying","put_call","expiry","strike","mid","iv","delta","gamma","vega","theta","open_interest","volume"]
)

print(spy_opt.shape, spx_opt.shape)
print(spy_opt["date"].min(), spy_opt["date"].max())