In [7]:
# --- Path plumbing (point to src) + autoreload ---
from pathlib import Path
import sys

%load_ext autoreload
%autoreload 2

NB   = Path.cwd()
ROOT = NB.parent
SRC  = ROOT / "src"
if str(SRC) not in sys.path:
    sys.path.append(str(SRC))

from data_pipeline.config import ROOT as ROOT_CFG, PROCESSED_DIR, ALIGNED, CLEANED, ALIGNED_SPX, ALIGNED_SPY
print("CWD:", NB)
print("SRC:", SRC)
print("ROOT:", ROOT_CFG)
print("PROC:", PROCESSED_DIR)
print("ALIGNED:", ALIGNED)
print("CLEANED:", CLEANED)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
CWD: /Users/ya/Desktop/deep-hedging-rl/notebooks
SRC: /Users/ya/Desktop/deep-hedging-rl/src
ROOT: /Users/ya/Desktop/deep-hedging-rl
PROC: /Users/ya/Desktop/deep-hedging-rl/data/processed
ALIGNED: /Users/ya/Desktop/deep-hedging-rl/data/processed/aligned
CLEANED: /Users/ya/Desktop/deep-hedging-rl/data/processed/cleaned

In [9]:
import pandas as pd

panel_fp_spx = ALIGNED_SPX / "combined_spx_all.parquet"


panel_spx = pd.read_parquet(panel_fp_spx)
print("Loaded:", panel_spx)

panel_spx = panel_spx.sort_index()
display(panel_spx.head(), panel_spx.tail())
print("shape:", panel_spx.shape)

Loaded: /Users/ya/Desktop/deep-hedging-rl/data/processed/aligned/spx/combined_spx_all.parquet

,source,date,Unnamed: 0,underlying,put_call,expiry,strike,mid,last,iv,...,hvol_273d,hvol_365d,hvol_547d,hvol_730d,hvol_1825d,fwd_front,close_spy_y,close_gspc_y,vix_y,rate_10y_y
0,options_snapshot_spx,1996-01-04,2.0,SPX,C,1996-02-03,620.049338,6.983696,6.983696,0.098942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,options_snapshot_spx,1996-01-05,35.0,SPX,P,1996-07-05,626.804475,21.166795,21.166795,0.123220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,options_snapshot_spx,1996-01-08,56.0,SPX,C,1996-07-08,629.710680,20.302191,20.302191,0.117640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,options_snapshot_spx,1996-01-09,80.0,SPX,C,1996-10-08,620.574487,27.254511,27.254511,0.132543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,options_snapshot_spx,1996-01-10,102.0,SPX,C,1996-10-09,612.036956,26.917740,26.917740,0.132763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,source,date,Unnamed: 0,underlying,put_call,expiry,strike,mid,last,iv,...,hvol_273d,hvol_365d,hvol_547d,hvol_730d,hvol_1825d,fwd_front,close_spy_y,close_gspc_y,vix_y,rate_10y_y
31715,market_daily,2025-08-25,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31716,market_daily,2025-08-26,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31717,market_daily,2025-08-27,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31718,market_daily,2025-08-28,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31719,market_daily,2025-08-29,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

shape: (31720, 44)

In [23]:
import pandas as pd
panel_fp_spy = ALIGNED_SPY / "combined_spy_all.parquet"


panel_spy = pd.read_parquet(panel_fp_spy)
print("Loaded:", panel_spy)

panel_spy = panel_spy.sort_index()
display(panel_spy.head(), panel_spy.tail())
print("shape:", panel_spy.shape)

Loaded:                      source       date  Unnamed: 0 underlying put_call  \
0      options_snapshot_spy 2005-01-10         2.0        SPY        C
1      options_snapshot_spy 2005-01-11        36.0        SPY        C
2      options_snapshot_spy 2005-01-12        58.0        SPY        C
3      options_snapshot_spy 2005-01-13        78.0        SPY        C
4      options_snapshot_spy 2005-01-14       102.0        SPY        C
...                     ...        ...         ...        ...      ...
21619          market_daily 2025-08-25         NaN       None     None
21620          market_daily 2025-08-26         NaN       None     None
21621          market_daily 2025-08-27         NaN       None     None
21622          market_daily 2025-08-28         NaN       None     None
21623          market_daily 2025-08-29         NaN       None     None

           expiry      strike       mid      last        iv  ...  hvol_273d  \
0      2005-02-09  119.203780  1.622029  1.622029  0.119222  ...        NaN
1      2005-10-11  119.244618  5.804914  5.804914  0.141897  ...        NaN
2      2005-10-12  119.651183  5.618612  5.618612  0.136811  ...        NaN
3      2005-07-14  118.233438  4.460037  4.460037  0.133107  ...        NaN
4      2005-10-14  119.315263  5.498172  5.498172  0.134647  ...        NaN
...           ...         ...       ...       ...       ...  ...        ...
21619        None         NaN       NaN       NaN       NaN  ...        NaN
21620        None         NaN       NaN       NaN       NaN  ...        NaN
21621        None         NaN       NaN       NaN       NaN  ...        NaN
21622        None         NaN       NaN       NaN       NaN  ...        NaN
21623        None         NaN       NaN       NaN       NaN  ...        NaN

       hvol_365d  hvol_547d  hvol_730d  hvol_1825d  fwd_front  close_spy_y  \
0            NaN        NaN        NaN         NaN        NaN          NaN
1            NaN        NaN        NaN         NaN        NaN          NaN
2            NaN        NaN        NaN         NaN        NaN          NaN
3            NaN        NaN        NaN         NaN        NaN          NaN
4            NaN        NaN        NaN         NaN        NaN          NaN
...          ...        ...        ...         ...        ...          ...
21619        NaN        NaN        NaN         NaN        NaN          NaN
21620        NaN        NaN        NaN         NaN        NaN          NaN
21621        NaN        NaN        NaN         NaN        NaN          NaN
21622        NaN        NaN        NaN         NaN        NaN          NaN
21623        NaN        NaN        NaN         NaN        NaN          NaN

       close_gspc_y  vix_y  rate_10y_y
0               NaN    NaN         NaN
1               NaN    NaN         NaN
2               NaN    NaN         NaN
3               NaN    NaN         NaN
4               NaN    NaN         NaN
...             ...    ...         ...
21619           NaN    NaN         NaN
21620           NaN    NaN         NaN
21621           NaN    NaN         NaN
21622           NaN    NaN         NaN
21623           NaN    NaN         NaN

[21624 rows x 44 columns]

,source,date,Unnamed: 0,underlying,put_call,expiry,strike,mid,last,iv,...,hvol_273d,hvol_365d,hvol_547d,hvol_730d,hvol_1825d,fwd_front,close_spy_y,close_gspc_y,vix_y,rate_10y_y
0,options_snapshot_spy,2005-01-10,2.0,SPY,C,2005-02-09,119.203780,1.622029,1.622029,0.119222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,options_snapshot_spy,2005-01-11,36.0,SPY,C,2005-10-11,119.244618,5.804914,5.804914,0.141897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,options_snapshot_spy,2005-01-12,58.0,SPY,C,2005-10-12,119.651183,5.618612,5.618612,0.136811,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,options_snapshot_spy,2005-01-13,78.0,SPY,C,2005-07-14,118.233438,4.460037,4.460037,0.133107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,options_snapshot_spy,2005-01-14,102.0,SPY,C,2005-10-14,119.315263,5.498172,5.498172,0.134647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,source,date,Unnamed: 0,underlying,put_call,expiry,strike,mid,last,iv,...,hvol_273d,hvol_365d,hvol_547d,hvol_730d,hvol_1825d,fwd_front,close_spy_y,close_gspc_y,vix_y,rate_10y_y
21619,market_daily,2025-08-25,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21620,market_daily,2025-08-26,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21621,market_daily,2025-08-27,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21622,market_daily,2025-08-28,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21623,market_daily,2025-08-29,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

shape: (21624, 44)